.colcanvas {
    border-bottom: 1px solid black;
    height: 601px;
    width: 600px;
    padding: 0;
    margin: 0;
}
.canheight {
    height: 601px;
}
.canvas {
    margin: 0;
}
.players {
    max-height: 210px;
    min-height: 210px;
    overflow-y: scroll;
}
.chat {
    min-height: 355px;
    max-height: 355px;
    overflow-y: scroll;
    word-wrap: break-word;
}

.chatInput {
    margin-top: 2px;
    width: 99%;
    height: 30px;
}

@media (max-width: 767px) {
    .canheight {
        height: 100px;
        width: 600px;
    }
}

::-webkit-scrollbar {
    display: none;
}
