<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/game.css" rel="stylesheet">
    <script src="js/easeljs.combined.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Index</title>
</head>
<body>
    <div class="container-fluid" >
        <div class="row" style="margin: auto auto">
            <div class="col-sm-8 wordSentence" style="height: 50px; border-left: 1px solid black; width: 600px; text-align: center; font-size: 26pt;">You need to draw: <span class="currentWord" style="font-weight: bold;"></span></div>
            <div class="col-sm-2" style="height: 50px; border-left: 1px solid black; padding: 0; text-align: center; font-size: 16pt;">Current Color: <span class="currentColor" style="font-weight: bold;"></span></div>
            <div class="col-sm-2" style="height: 50px; border-left: 1px solid black; border-right: 1px solid black; padding: 0; text-align: center; font-size: 16pt;">Time left: <span class="timeLeft" style="font-weight: bold;"></span></div>
        </div>
        <div class="row" style="margin: auto auto">
            <div class="colcanvas col-sm-4" style="border-top: 1px solid black; border-left: 1px solid black;"><canvas id="canvas" height="600" width="600"></canvas></div>
            <div class="canheight col-sm-2" id="colorsDiv" style="border: 1px solid black; border-right: 0; padding: 0; text-align: center;">
                <h2 style="margin: 0; border-bottom: 1px solid black">Color</h2>
                <div class="col-sm-12" onclick="changeColor('black')" style="border-bottom: 1px solid black; background-color: black; height: 70px;"></div>
                <div class="col-sm-12" onclick="changeColor('red')" style="border-bottom: 1px solid black; background-color: red; height: 70px;"></div>
                <div class="col-sm-12" onclick="changeColor('green')" style="border-bottom: 1px solid black; background-color: green; height: 70px;"></div>
                <div class="col-sm-12" onclick="changeColor('blue')" style="border-bottom: 1px solid black; background-color: blue; height: 70px;"></div>
                <div class="col-sm-12" onclick="changeColor('yellow')" style="border-bottom: 1px solid black; background-color: yellow; height: 70px;"></div>
                <div class="col-sm-12" onclick="changeColor('sandybrown')" style="border-bottom: 1px solid black; background-color: sandybrown; height: 70px;"></div>
                <div class="col-sm-12" onclick="changeColor('brown')" style="border-bottom: 1px solid black; background-color: brown; height: 70px;"></div>
                <div class="col-sm-12" onclick="changeColor('white')" style="height: 75px;"><h2>Eraser</h2></div>
            </div>
            <div class="canheight col-sm-2 playerdiv" style="border: 1px solid black; padding: 0; text-align: center;">
                <div class="players">
                    <h2 style="margin: 0; border-bottom: 1px solid black">Players</h2>
                </div>
                <div class="chat" style="text-align: left; border-top: 1px solid black; border-bottom: 1px solid black;">
                </div>
                <input class="chatInput" placeholder="Guess or message here">
            </div>
        </div>
    </div>
</body>
</html>


<script>
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }


</script>


<script src="js/game/objects_new.js"></script>
<script src="js/game/online.js"></script>